# LIVO email verification
LIVO_SMTP_HOST=smtp.gmail.com
LIVO_SMTP_PORT=587
LIVO_SMTP_USERNAME=livolifnews@gmail.com
LIVO_SMTP_PASSWORD=umqq mlma twhg gywm
LIVO_MAIL_FROM=livolifnews@gmail.com
LIVO_PUBLIC_URL=http://127.0.0.1:5000
